In [1]:
import numpy as np
import pandas as pd

# Get Data

https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations

**daily_vaccinations**: new doses administered per day (7-day smoothed). For countries that don't report data on a daily basis, we assume that doses changed equally on a daily basis over any periods in which no data was reported. This produces a complete series of daily figures, which is then averaged over a rolling 7-day window. An example of how we perform this calculation can be found here.

**people_vaccinated**: total number of people who received at least one vaccine dose. If a person receives the first dose of a 2-dose vaccine, this metric goes up by 1. If they receive the second dose, the metric stays the same.

**people_fully_vaccinated**: total number of people who received all doses prescribed by the vaccination protocol. If a person receives the first dose of a 2-dose vaccine, this metric stays the same. If they receive the second dose, the metric goes up by 1.

This dataset includes some subnational locations (England, Northern Ireland, Scotland, Wales, Northern Cyprus…) and international aggregates (World, continents, European Union…). They can be identified by their iso_code that starts with OWID_.

In [21]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'

In [22]:
vaccination = pd.read_csv(url)

### Filter Features

In [25]:
vaccination.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred',
       'daily_vaccinations_per_million'],
      dtype='object')

In [26]:
cols = ['location', 'iso_code', 'date', 'people_vaccinated', 'people_fully_vaccinated', 'daily_vaccinations']

In [27]:
vaccination = vaccination[cols]

In [29]:
vaccination.sample(5)

,location,iso_code,date,people_vaccinated,people_fully_vaccinated,daily_vaccinations
1424,Argentina,ARG,2021-07-12,19822638.0,5039549.0,345437.0
23386,Panama,PAN,2021-05-09,514959.0,255610.0,11845.0
24641,Romania,ROU,2021-03-01,946781.0,618240.0,22276.0
9511,Europe,OWID_EUR,2021-04-12,117573839.0,43594834.0,3198198.0
7717,Denmark,DNK,2021-04-24,1202059.0,568808.0,31853.0

### Filter Countries

In [ ]:
countries = ['Sweden', 'France']

In [37]:
vaccination.loc[vaccination.location == 'United States']

,location,iso_code,date,people_vaccinated,people_fully_vaccinated,daily_vaccinations
31393,United States,USA,2020-12-20,556208.0,NaN,NaN
31394,United States,USA,2020-12-21,614117.0,NaN,57909.0
31395,United States,USA,2020-12-22,NaN,NaN,127432.0
31396,United States,USA,2020-12-23,1008025.0,NaN,150606.0
31397,United States,USA,2020-12-24,NaN,NaN,191001.0
...,...,...,...,...,...,...
31594,United States,USA,2021-07-09,183542871.0,158629431.0,593848.0
31595,United States,USA,2021-07-10,183836917.0,158954417.0,513550.0
31596,United States,USA,2021-07-11,184132768.0,159266536.0,506771.0
31597,United States,USA,2021-07-12,184365333.0,159499224.0,527353.0
31598,United States,USA,2021-07-13,184543821.0,159675163.0,532556.0

### Save

In [30]:
vaccination.to_csv('../Data/Vaccination.csv')