In [1]:
import numpy as np
import pandas as pd

# Get Data

In [2]:
vaccination = pd.read_csv('../Data/US_State_Vaccinations.csv')
vaccination.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7498.0,1529.0,NaN

### Filter Features

In [3]:
vaccination.columns

Index(['date', 'location', 'total_vaccinations', 'total_distributed',
       'people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'total_vaccinations_per_hundred', 'people_fully_vaccinated',
       'people_vaccinated_per_hundred', 'distributed_per_hundred',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'daily_vaccinations_per_million', 'share_doses_used'],
      dtype='object')

In [4]:
cols = ['date', 'location', 'daily_vaccinations', 'daily_vaccinations_per_million', 
        'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred' ]

In [5]:
vaccination = vaccination[cols]

In [6]:
vaccination.sample(5)

,date,location,date,daily_vaccinations,daily_vaccinations_per_million,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred
9340,2021-05-13,Maine,2021-05-13,11056.0,8225.0,58.21,47.25
8884,2021-02-04,Louisiana,2021-02-04,19155.0,4120.0,8.46,2.49
1337,2021-10-02,Arizona,2021-10-02,13818.0,1898.0,59.40,51.20
4395,2021-04-21,Federated States of Micronesia,2021-04-21,273.0,2634.0,18.10,11.23
11454,2021-04-09,Mississippi,2021-04-09,17589.0,5910.0,27.07,18.19

### Filter Countries

### Save

In [7]:
vaccination.to_csv('../Data/Vaccination_USA_Filtered.csv')