In [2]:
import numpy as np
import pandas as pd

**Information**

*Data Source*: World Development Indicators <br>
*Last Update*: 6/30/2021

*Link*: https://data.worldbank.org/indicator/SP.POP.TOTL

For England:
https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/bulletins/annualmidyearpopulationestimates/mid2020

For USA:  
https://www.census.gov/programs-surveys/popest/technical-documentation/research/evaluation-estimates/2020-evaluation-estimates/2010s-state-total.html

# Data

In [5]:
population = pd.read_csv('../Data/Population.csv')

In [6]:
population.sample(10)

    Country Name Country Code        2020
206        Sudan          SDN  43849269.0
51       Curacao          CUW    155014.0
237  Timor-Leste          TLS   1318442.0
223       Sweden          SWE  10353442.0
264       Zambia          ZMB  18383956.0
262  Yemen, Rep.          YEM  29825968.0
177       Norway          NOR   5379475.0
16       Burundi          BDI  11890781.0
33      Botswana          BWA   2351625.0
58       Denmark          DNK   5831404.0